h1{
 text-align: center;
 color: rgb(65, 179, 179)
 margin: 0px auto;
}

.login {
    margin: 0;
    position: absolute;
    top: 100px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}